<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="../../static/styles/styleMenu.css">


    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <script src="../../static/script.js"></script>
    <title>Registro</title>
</head>

<body class="pt-4 vh-100 align-items-center bodyform">
    {% if cliente%}
    <form action="/crear_registro" method="POST">

        <div class="form-control mb-4 form-login-register-cliente">
            <p class="h5">Formulario de registro</p>

                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and dupliErr%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            <div class="form-group mb-3 modalForm">
                <label for="exampleInputEmail1">Cédula</label>
                <input type="text" class="form-control" id="usertxt52" aria-describedby="emailHelp"
                    placeholder="Ingrese su cédula" name="txtCc" value="{{cc}}" pattern="\d*" 
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and ccErr%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            </div>
            <div class="form-group mb-3 modalForm">
                <label for="exampleInputEmail1">Primer Nombre</label>
                <input type="text" class="form-control" id="usertxt12" aria-describedby="emailHelp"
                    placeholder="Ingrese el primer nombre" name="txtName1" value="{{nam1}}">
                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and nam1Err%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            </div>
            <div class="form-group mb-3 modalForm">
                <label for="exampleInputEmail1">Segundo Nombre</label>
                <input type="text" class="form-control" id="usertxt22" aria-describedby="emailHelp"
                    placeholder="Ingrese el segundo nombre" name="txtName2" value="{{nam2}}">
                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and nam2Err%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            </div>
            <div class="form-group mb-3 modalForm">
                <label for="exampleInputEmail1">Primer Apellido</label>
                <input type="text" class="form-control" id="usertxt32" aria-describedby="emailHelp"
                    placeholder="Ingrese el primer apellido" name="txtAp1" value="{{ape1}}">
                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and ape1Err%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            </div>
            <div class="form-group mb-3 modalForm">
                <label for="exampleInputEmail1">Segundo Apellido</label>
                <input type="text" class="form-control" id="usertxt42" aria-describedby="emailHelp"
                    placeholder="Ingrese el segundo apellido" name="txtAp2" value="{{ape2}}">
                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and ape2Err%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
                    
            </div>                       
            <div class="form-group mb-3 modalForm">
                <label for="exampleInputEmail1">Telefono</label>
                <input type="text" class="form-control" id="usertxt62" aria-describedby="emailHelp"
                    placeholder="Ingrese su telefono" name="txtTel" value="{{tel}}"  pattern="\d*" 
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and telErr%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            </div>
            <div class="form-group mb-4 modalForm">
                <label for="exampleInputPassword1">Correo</label>
                <input type="email" class="form-control" id="passwordtxt2" placeholder="Ingrese el correo"
                    name="txtMail" value="{{mail}}">
                    {%with messages = get_flashed_messages(with_categories=true)%}
                    {%if messages and mailErr%}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            </div>
            <div class="form-group mb-4 modalForm">
                <label for="exampleInputPassword1">Tipo persona</label>
                <select name="tipoPersona" class="form-control" title="option">
                        <option value="-1">Seleccionar...</option>
                    {% for opcion in dataOpt %}
                        <option value="{{ opcion.idtipo_clientes }}">{{ opcion.tipo }}</option>
                    {% endfor %}
                </select>
                {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages and allErr%}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}</div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>
            <div class="form-group mb-4 modalForm">
                <label for="exampleInputPassword1">Estado</label>
                <select name="state" class="form-control" title="option2">
                        <option value="0">Habilitado</option>
                        <option value="1">Deshabilitado</option>
                </select>
            </div>
            
            <div class="modal-footer">
                <!-- <button class="btn btn-outline-danger" data-bs-dismiss="modal" type="reset">Cancelar</button> -->
                <a href="/" class="btn btn-outline-danger">Cancelar</a>
                <button class="btn btn-outline-success" type="submit">Guardar</button>
            </div>

        </div>
    </form>
    {% endif %}

    {% if  usuario  %}
    <form action="/create-registro/{{cc}}" method="POST" id="{{cc}}">
        <div class="form-control mb-4 form-login-register-user">
            <p class="h5">Cree el usuario</p>

            {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages and dupliErr%}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
            <div class="form-group mb-3 modalForm">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text" class="form-control" id="usertxt" aria-describedby="emailHelp"
                    placeholder="Ingrese el usuario" name="txtCorreo" value="{{correo}}">
                {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages and correoErr%}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">
                    {{message}}</div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>
            <div class="form-group mb-4 modalForm">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="passwordtxt" placeholder="Contraseña"
                    name="txtPassword" value="">
                {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages and contraErr%}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">
                    {{message}}</div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>
            <!-- <div class="form-group mb-4 modalForm">
                <label for="exampleInputPassword1">Perfil</label>
                <select name="perfil" class="form-control" title="option">
                    <option value="">Seleccionar...</option>
                    {% for opcion in dataOpt %}
                    <option value="{{ opcion.idperfiles }}">{{ opcion.perfiles }}</option>
                    {% endfor %}
                </select>
                {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages and perfilErr%}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">
                    {{message}}</div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div> -->
            <div class="modal-footer">
                <button class="btn btn-outline-danger" data-bs-dismiss="modal"
                    type="reset">Cancelar</button>
                <button class="btn btn-outline-success" type="submit">Guardar</button>
            </div>

        </div>
    </form>
    {% endif %}
</body>

</html>