<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="../../static/styles/styles.css">


    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <script src="../../static/script.js"></script>


    <title>Termocultiva</title>
</head>

<body accesskey="">

    <div id="perfilModal" class="modal fade" role="dialog" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-primary new_title">
                        Por favor cree un nuevo sensor
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" title="exit">
                    </button>
                </div>


                <form action="/add-tipIlum" method="POST">
                    <div class="modal-body" class="form-control form-login-register">
                        {%with messages = get_flashed_messages(with_categories=true)%}
                        {%if messages and dupliErr%}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">{{message}}
                        </div>
                        {%endfor%}
                        {%endif%}
                        {%endwith%}
                        <div class="form-group mb-3 modalForm">
                            <label for="exampleInputEmail1">Accesorio</label>
                            <input type="text" class="form-control" id="usertxt" aria-describedby="emailHelp"
                                placeholder="Ingrese el accesorio" name="txtAcce" value="{{acceTxt}}">
                            {%with messages = get_flashed_messages(with_categories=true)%}
                            {%if messages and acceErr%}
                            {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">
                                {{message}}</div>
                            {%endfor%}
                            {%endif%}
                            {%endwith%}
                        </div>
                        <div class="form-group mb-4 modalForm">
                            <label for="exampleInputPassword1">Estado</label>
                            <select name="state" class="form-control" title="option2">
                                <option value="0">Habilitado</option>
                                <option value="1">Deshabilitado</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-danger" data-bs-dismiss="modal"
                                type="reset">Cancelar</button>
                            <button class="btn btn-outline-success" type="submit">Guardar</button>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>

    <div class="container  pt-5 ">

        <div>
            <h3 class="text-center title_module">
                Gestión sensores
            </h3>
        </div>

        <div>
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#perfilModal"> Nuevo
                sensor</button>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'success' or category == 'warning' %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}


        <table id="example" class="table table-striped div_">
            <thead>
                <tr class="table_u ">
                    <th>ID</th>
                    <th>Iluminacion</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for data in tip %}
                <tr>
                    <td>{{data.idtipo_iluminacion}}</th>
                    <td>{{data.iluminacion}}</td>
                    <td>{{data.status}}</td>
                    <td class="text-center">
                        <a href="/updateTipIlum/{{data.idtipo_iluminacion}}" class="bi-pencil-fill edit_action" title="edit"
                            data-bs-toggle="modal" data-bs-target="#editModal{{data.idtipo_iluminacion}}"></a>
                        <a href="/InhabilAcce/{{data.idtipo_iluminacion}}" class="bi bi-ban btn-inhabi" title="Inhabilitar"></a>
                        <a href="/deleteTipIlum/{{data.idtipo_iluminacion}}" class="bi-eraser-fill btn-delete"
                            title="delete"></a>
                    </td>
                </tr>

                <!-- Edicion -->
                <div class="modal fade" id="editModal{{data.idtipo_iluminacion}}" data-bs-backdrop="static" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">

                        <div class="modal-content">

                            <div class="modal-header">
                                <h5>Editar Sensor</h5>
                                <button class="btn-close" data-bs-dismiss="modal" title="exit"></button>
                            </div>
                            <form action="/updateTipIlum/{{data.idtipo_iluminacion}}" method="POST">
                                <div class="modal-body" class="form-control form-login-register">
                                    {%with messages = get_flashed_messages(with_categories=true)%}
                                    {%if messages and dupliErrEdit%}
                                    {% for category, message in messages %}
                                    <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">
                                        {{message}}</div>
                                    {%endfor%}
                                    {%endif%}
                                    {%endwith%}
                                    <div class="form-group mb-3 modalForm">
                                        <label for="exampleInputEmail1">Accesorio</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Ingrese Accesorio" name="txtAcce"
                                            value="{{data.iluminacion}}">
                                            {%with messages = get_flashed_messages(with_categories=true)%}
                                            {%if messages and acceErrEdit%}
                                            {% for category, message in messages %}
                                            <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">
                                                {{message}}</div>
                                            {%endfor%}
                                            {%endif%}
                                            {%endwith%}
                                    </div>
                                    <!-- <div class="form-group mb-4 modalForm">
                                        <label for="exampleInputPassword1">Estado</label>
                                        <select name="state" class="form-control" title="option2">
                                            <option value="0">Habilitado</option>
                                            <option value="1">Deshabilitado</option>
                                        </select>
                                    </div> -->
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-danger" data-bs-dismiss="modal"
                                            type="button">Cancelar</button>
                                        <button class="btn btn-outline-primary" type="submit">Actualizar</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>


                {% endfor %}
            </tbody>
        </table>
        <div class="pt-1 mb-4">
            <a href="/admin" class="btn btn-outline-secondary btnback">Regresar</a>
        </div>

    </div>

    <script>
        const btnDelete = document.querySelectorAll('.btn-delete');
        if (btnDelete) {
            const btnArray = Array.from(btnDelete);
            btnArray.forEach((btn) => {
                btn.addEventListener('click', (e) => {
                    if (!confirm('Esta seguro que desea eliminar el registro?')) {
                        e.preventDefault();
                    }
                });
            })
        }
        
        const btninhabili = document.querySelectorAll('.btn-inhabi');
        if (btninhabili) {
            const btnArray = Array.from(btninhabili);
            btnArray.forEach((btn) => {
                btn.addEventListener('click', (e) => {
                    if (!confirm('Esta seguro que desea inhabilitar el registro?')) {
                        e.preventDefault();
                    }
                });
            })
        }

    </script>

    {% if add_modal %}
    <script>
        $(document).ready(function() {
            $('#perfilModal').modal('show');
        });
    </script>
    {% endif %}

    {% if edit_modal %}
    <script>
        $(document).ready(function() {
            $('#editModal{{edit_modal}}').modal('show');
        });
    </script>
    {% endif %}

</body>

</html>