.body{
    max-height: 100vh
}
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    
}

.logo{
    color:   rgb(26, 141, 78);
}

.link-info{
    color:   rgb(26, 141, 78);
}

.btnLogin{
    background-color: rgb(26, 141, 78);
    color: #fff;
    margin: 0px 10px;
    padding: 10px 45px;
    -webkit-box-shadow: 2px 5px 3px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 7px 10px 5px -1px rgba(0,0,0,0.24);
    box-shadow: 4px 8px 5px -1px rgba(0,0,0,0.24);
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 80%;
    }
}