
        <nav class="navbarr">
            <ul>
                <li><a href="#">Clientes</a>
                    <ul>
                        <li><a href="/listar-clientes">Gestionar Clientes</a></li>
                        {% if 'idperfil' in session and session['idperfil'] == 1 %}
                        <li><a href="/listar-tipClient">Gestionar Tipo Cliente</a></li>
                        {%endif%}
                    </ul>
                </li>
                <li><a href="#">Invernaderos</a>
                    <ul>
                        <li><a href="/listar-invernaderos">Gestionar Invernadero</a></li>
                        {% if 'idperfil' in session and session['idperfil'] == 1 %}
                        <li><a href="/listar-tipInve">Gestionar Tipo Invernadero</a></li>
                        <li><a href="/listar-tamanio">Gestionar Tamaños de Invernadero</a></li>
                        {%endif%}
                        <li><a href="/listar-cultivos">Gestionar Cultivos</a></li>
                    </ul>
                </li>
                <li><a href="#">Temperatura</a>
                    <ul>
                        <li><a href="/listar-temp">Gestión Temperaura</a></li>
                    </ul>
                <li><a href="#">Dispositivos</a>
                    <ul>
                        <li><a href="/listar-dispositivos">Gestionar Dispositivos</a></li>
                        {% if 'idperfil' in session and session['idperfil'] == 1 %}
                        <li><a href="/listar-ard">Gestionar Arduinos</a></li>
                        <li><a href="/listar-acce">Gestionar Sensores</a></li>
                        <li><a href="/listar-mot">Gestionar Motores</a></li>
                        <li><a href="/listar-tipIlum">Gestionar Iluminación</a></li>
                        {%endif%}
                    </ul>
                </li>
                <li>
                    <a href="#">Configuración</a>
                    <ul>
                        <li id="user"><a href="/listar-usuarios">Gestionar Usuarios</a></li>
                        {% if 'idperfil' in session and session['idperfil'] == 1 %}
                        <li><a href="/listar-perfiles">Gestionar Perfiles</a></li>
                        {%endif%}
                    </ul>
                </li>
                <li><a href="/logout">Salir</a>
                </li>
            </ul>
        </nav>
