<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="../../static/styles/styles.css">


    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <script src="../../static/script.js"></script>


    <title>Document</title>
</head>

<body accesskey="">
    
    <div id="perfilModal" class="modal fade" role="dialog" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">
                        Por favor cree un nuevo accesorio
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" title="exit">
                    </button>
                </div>


                <form action="/add-acce" method="POST">
                    <div class="modal-body" class="form-control form-login-register">

                        <div class="form-group mb-3 modalForm">
                            <label for="exampleInputEmail1">Accesorio</label>
                            <input type="text" class="form-control" id="usertxt" aria-describedby="emailHelp"
                                placeholder="Ingrese el accesorio" name="txtAcce" value="">
                        </div>
                        <div class="form-group mb-4 modalForm">
                            <label for="exampleInputPassword1">Estado</label>
                            <input type="text" class="form-control" id="passwordtxt" placeholder="Estado"
                                name="txtEstado" value="">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" type="reset">Cancelar</button>
                            <button class="btn btn-outline-success" type="submit">Guardar</button>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>

    <div class="container  pt-5 ">

        <div>
            <h3 class="text-center title_module">
                Gestión accesorios
            </h3>
        </div>

        <div>
            <button class="btn btn-outline-success" data-bs-toggle="modal"
                    data-bs-target="#perfilModal"> Nuevo accesorio</button>
        </div>

        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}

        
        <table id="example" class="table table-striped div_">
            <thead>
                <tr class="table_u ">
                    <th>ID</th>
                    <th>Accesorio</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for data in acce %}
                <tr>
                    <td>{{data.idaccesorios}}</th>
                    <td>{{data.accesorios}}</td>
                    <td>{{data.estado}}</td>
                    <td class="text-center">
                        <a href="/updateAcce/{{data.idaccesorios}}" class="bi-pencil-fill edit_action" title="edit"
                            data-bs-toggle="modal" data-bs-target="#editModal{{data.idaccesorios}}"></a>
                        <a href="/deleteAcce/{{data.idaccesorios}}" class="bi-eraser-fill btn-delete" title="delete"></a>
                    </td>
                </tr>

                <!-- Edicion -->
                <div class="modal fade" id="editModal{{data.idaccesorios}}" data-bs-backdrop="static" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">

                        <div class="modal-content">

                            <div class="modal-header">
                                <h5>Editar Accesorio</h5>
                                <button class="btn-close" data-bs-dismiss="modal" title="exit"></button>
                            </div>
                            <form action="/updateAcce/{{data.idaccesorios}}" method="POST">
                                <div class="modal-body" class="form-control form-login-register">

                                    <div class="form-group mb-3 modalForm">
                                        <label for="exampleInputEmail1">Accesorio</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Ingrese Accesorio" name="txtAcce"
                                            value="{{data.accesorios}}">
                                    </div>
                                    <div class="form-group mb-4 modalForm">
                                        <label for="exampleInputPassword1">Estado</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Password" name="txtEstado" value="{{data.estado}}">
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-danger" data-bs-dismiss="modal" type="button">Cancelar</button>
                                        <button class="btn btn-outline-primary" type="submit">Actualizar</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>


                {% endfor %}
            </tbody>
        </table>
        <div class="pt-1 mb-4">
            <a href="/admin" class="btn btn-outline-secondary btnback">Regresar</a>
        </div>

    </div>

    <script>
        const btnDelete = document.querySelectorAll('.btn-delete');
        if (btnDelete) {
            const btnArray = Array.from(btnDelete);
            btnArray.forEach((btn) => {
                btn.addEventListener('click', (e) => {
                    if (!confirm('Esta seguro que desea eliminar el registro?')) {
                        e.preventDefault();
                    }
                });
            })
        }
    </script>

</body>

</html>